body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.noteContent {
    float: left;
    width: 80%;
}

.noteContent textarea {
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

button {
    margin-right: 5px;
    margin-top: 5px;
}
#list {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: -38px;
    min-width: 10px;
    width: 15px;
}
#list > li {
    display: inline;
    margin-right: 10px;
    border-bottom: 2px solid black;
}
#list > li:hover {
    border-top: 2px solid green;
    border-bottom: none;
}
#list > li:active {
    background-color: green;
    color: white;
}
img {
    margin-bottom: 10px;
    border-collapse: separate;
}

